body {
    font-family: Arial, sans-serif;
    background: url("fon.jpg") no-repeat center center fixed; 
    background-size: cover; 
    margin: 0;
    padding: 0;
    text-align: center; 
    color: white; 
}

h1 {
    margin-top: 30px;
    color: darkblue;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #00ffff;
    font-weight: bold;
}

input, button {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
